{% extends 'default/index.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script>
var picker = new Pikaday({ 
    field: $('.js-datepicker')[0],
    format: 'D/M/YYYY',
    toString(date, format) {
        const day = date.getDate();
        const month = date.getMonth() + 1;
        const year = date.getFullYear();
        return `${day}/${month}/${year}`;
    },
    parse(dateString, format) {
        const parts = dateString.split('/');
        const day = parseInt(parts[0], 10);
        const month = parseInt(parts[1], 10) - 1;
        const year = parseInt(parts[2], 10);
        return new Date(year, month, day);
    }
});
</script>
{% endblock %}

{% block main %}
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    <div class="container">
        <h2>{{objetivo}} Mascota</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

